/* src/assets/styles/components/_suggestion-block.scss  */
.suggestion-block{
    margin-top: 25px;
    margin-bottom: 20px;
    img.house-image{
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        height: 320px;
        @include xl {         // 1200px window width and more
            height: 180px;
        }
    }
    .house-category {
        ol{
            background-color: transparent;
            padding: 0;
            margin-bottom: 0.5rem;
            li{
                a{
                    font-size: convertFontSize(10px);
                    font-weight: 600;
                    color: $color-rating-primary-color;
                }
            }
            .breadcrumb-item+.breadcrumb-item::before{
                content: "•";
            }
        }
    }
    .house-title h4{
        font-size: convertFontSize(15px);
    }
        
    .rate{
        font-size: 10px;
        .checked {
            color: $color-rating-primary-color;
        }
        .rating-nums{
            font-size: convertFontSize(11px);
            font-weight: 500;
            margin-left: 5px;
            display: inline-block;
        }
    }
    .description{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // min-height: 60px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .suggestioner-profile{
        margin-top: 20px;
        .avatar{
            height: 48px;
            width: 48px;
            display: inline-block;
            vertical-align: middle;
            img.profile-image{
                border-radius: 50%;
                display: block;
            }
        }
        
        .profile-info{
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            .profile-name{
                font-size: convertFontSize(16px);
                font-weight: 500;
            }
        }
        
    }

    .show-more{
        span, a{
            color: $color-rating-primary-color;
            font-weight: 500;
            font-size: convertFontSize(16px);
        }
    }
    
}