extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  .container
    section.main-panel
      //- TOP REVIEWS BLOCK
      include components/main-panel/top-review.component.pug
      //- END TOP REVIEWS BLOCK

      //- PROS BLOCK     
      include components/main-panel/pros.component.pug
      //- END PROS BLOCK 

      //- SUGGESTION INFO BLOCK 
      include components/main-panel/suggestion.component.pug
            
      //- END SUGGESTION INFO BLOCK

      //- BANNER BLOCK 
      include components/main-panel/banner.component.pug
      //- END BANNER BLOCK 

      