/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
  flex-direction: column !important;
  align-items: normal !important;
}
body {
  @include isFlex(center, center);
  font-family: $quicksand;
  background: $darkslategray;
  color: white;
  margin: 0;
  padding: 0;
  height: auto;
  margin-bottom: 100px !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.form-control{
  padding: 0.8em 0.75em;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(3.25rem + 2px);
}

.container{
  max-width: 100%;
  @include xl {         // 1200px window width and more
    max-width: 1140px;;
}
}
