.banner
  .row
    .col-sm
      include ../../mixins/page-title.pug
      +pageTitle("When are you traveling?")
      p.sub-text Add dates for updated pricing and availability.
      button.btn.btn-primary Add dates