.top-reviews
  include ../../mixins/page-title.pug
  +pageTitle("What guests are saying about homes in United States")
  p.sub-text United States homes were <b>rated 4.8 out of 5 stars</b> with <b>30,500,000+ reviews</b>
  .row.single-item
    -
      var reviews = [{
          id: 1,
          imgUrl: "./assets/images/backgrounds/header.jpg",
          comment: "Marcella and the Airstream were just great.",
          profile: {
          avatar: "./assets/images/backgrounds/header.jpg",
          name: "Claire",
          country: "United Kingdom"
          }
      },{
          id: 2,
          imgUrl: "./assets/images/backgrounds/header.jpg",
          comment: "Marcella and the Airstream were just great. And they have quite possibly one of the coolest backyards that I've ever seen.",
          profile: {
          avatar: "./assets/images/backgrounds/header.jpg",
          name: "Stuart",
          country: "Spain"
          }
      },{
          id: 3,
          imgUrl: "./assets/images/backgrounds/header.jpg",
          comment: "Marcella and the Airstream were just great. And they have quite possibly one of the coolest backyards that I've ever seen. If you And they have quite possibly one of the coolest backyards that I've ever seen",
          profile: {
          avatar: "./assets/images/backgrounds/header.jpg",
          name: "Matt",
          country: "United States"
          }
      }]
    include ../../mixins/review-block.pug
    if reviews
    each item, index in reviews
        //- +pageTitle(item.imgUrl)
        +reviewBlock(item)
//- script(type='text/javascript').
//-     $(document).ready(function(){debugger;$('.single-item').slick({});});