.search-form-top-block.animated.bounceInDown
  - var logoUrl = "./assets/images/favicons/anb-favicon.png" 
  a
    img.logo(src=logoUrl)
  .search-form-top-block-control
    div.w-100
      .row
        .col-4.p-0  
          input(type="text", class='form-control control-1', placeholder='Destination, City, Address', value='Address')
        .col-4.p-0  
          input(type="text", class='form-control control-2')
        .col-4.p-0  
          input(type="text", class='form-control control-3')